@import url("colors.css");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1320px;
}

.wrapper2 {
  margin: 0 auto;
  width: 1320px;
}

/* navbar  */

.whiteLogo {
  height: 33px;
}

.navbar {
  background: var(--main-page-color);
  height: 84px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
}

.header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarIcons {
  display: flex;
  gap: 18px;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul {
  gap: 40px;
}

.navItem {
  color: var(--white);
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
}

.navItem:hover {
  color: var(--red);
  text-decoration: none;
}

.navItem:focus {
  color: var(--red);
  text-decoration: none;
}

.navbarButton {
  color: var(--white);
  background: var(--red);
  font-weight: 300;
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 16px 47px;
  transition: color 0.5s, background 0.5s;
}

.navbarButton:hover {
  color: var(--white);
  background: var(--main-page-color);
  text-decoration: none;
}

.hamburger {
  display: none;
}

.navButton {
  color: white;
  padding: 10px;
  scale: 3;
}

.navMobile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--main-page-color);
  transform: translateX(-102%);
  transition: transform 0.3;
  z-index: 10;
  gap: 30px;
}

.navMobile ul {
  padding-top: 100px;
  margin: 0;
}

.navMobile li {
  padding: 30px;
}

.navMobile-active {
  transform: translateX(0);
}

.navMobileItem {
  color: var(--white);
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
}

.navMobileItem:hover {
  color: var(--red);
  text-decoration: none;
}

@media (max-width: 1100px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 0;
  }

  .navMobile {
    display: block;
  }

  nav {
    display: none;
  }
}

/* header  */

.containerPadding {
  padding: 0;
}

.carouselHeight {
  height: 1150px;
}

.carouselShadow {
  text-shadow: none;
  text-align: start;
  gap: 16px;
}

.carouselTitle {
  color: var(--main-text-color);
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 260px;
}

@media (max-width: 650px) {
  .carouselHeight {
    height: 2050px;
  }
  .carouselTitle {
    font-size: 50px;
    margin-top: 200px;
  }
}

@media (max-width: 480px) {
  .carouselTitle {
    font-size: 36px;
    margin-top: 160px;
  }
}

@media (min-width: 327px) {
  .carouselHeight {
    height: 850px;
  }
}

@media (min-width: 382px) {
  .carouselHeight {
    height: 800px;
  }
}

@media (max-width: 650px) {
  .carouselHeight {
    height: 950px;
  }
}

@media (max-width: 1105px) {
  .carouselHeight {
    height: 1000px;
  }
}

@media (min-width: 1105px) {
  .carouselHeight {
    height: 840px;
  }
}

.carouselText {
  color: var(--red);
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 28px;
  text-shadow: none;
}

.percentText {
  font-weight: 500;
}

.carouselButton {
  font-size: 16px;
  font-weight: 300;
  padding: 16px 63px;
  margin-top: 88px;
  margin-bottom: 88px;
}

.carousel-caption {
  height: 100%;
}

.backgroundImg {
  background-image: linear-gradient(
      to top,
      #fff 33.85%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../assets/img/background.png");
  height: 840px;
  background-size: cover;
  color: white;
  filter: grayscale(100%);
}

ol.carousel-indicators {
  margin: auto;
  gap: 16px;
  padding-bottom: 80px;
}

ol.carousel-indicators li.active {
  background: var(--red);
  border: 1px solid var(--red);
  height: 16px;
  width: 16px;
  margin-bottom: 20px;
}

ol.carousel-indicators li {
  background: transparent;
  border: 1px solid #808080;
  height: 16px;
  width: 16px;
  margin-bottom: 20px;
}

.container2 {
  background: rgba(242, 242, 242, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  padding: 40px 80px 40px 80px;
  width: 95%;
  margin: auto;
}

/* services  */

.accordion-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  letter-spacing: -0.16px;
  color: var(--red);
  padding: 24px 0px;
}

@media (min-width: 992px) {
  .accordion-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    color: var(--red);
    padding-top: 40px;
    border-bottom: 1px solid #f2f2f2;
  }
}

.gap-20 {
  gap: 20px;
}

.accordion-item {
  border: none;
}

.accordion-button:focus {
  outline: none;
  background: transparent;
  color: var(--red);
  border: none;
  box-shadow: none;
}

.accordion-button.collapsed {
  background: transparent;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: var(--red);
  border: none;
  box-shadow: none;
}

@media (min-width: 992px) {
  .accordion-button.collapsed {
    border-bottom: 1px solid #f2f2f2;
  }

  .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #f2f2f2;
  }
}

.accordion-button::after {
  background-image: none;
  content: "\f078";
  font-family: fontawesome;
  width: auto;
  height: auto;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

.letter1 {
  display: none;
}


svg .kl-svg-1 {
    stroke-dashoffset: 11133.4296875px;
    stroke-dasharray: 11133.4296875px;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .kl-svg-1 {
    stroke-dashoffset: 0;
}

svg .kl-svg-2 {
    stroke-dashoffset: 11133.4296875px;
    stroke-dasharray: 11133.4296875px;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .kl-svg-2 {
    stroke-dashoffset: 0;
}



@media (min-width: 1200px) {
  .letter1 {
    display: block;
    top: 0;
    right: -50px;
    height: 650px;
  }
}

/* collaboration  */

.gap-64 {
  gap: 64px;
}

.container1 {
  border-radius: 16px;
  background: #f2f2f2;
  padding: 40px 8px 24px 8px;
  margin-top: 42px;
  text-align: center;
}

.container4 {
  display: none;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-25 {
  margin-top: 25px;
}

.py-46 {
  padding: 46px 0px;
}

@media (min-width: 1200px) {
  .py-46 {
    padding: 0px;
  }
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-50 {
  margin-top: 50px;
}

.pt-260 {
  padding-top: 260px;
}

.hiddenImg,
.hiddenText {
  display: none;
}

.container {
  border-radius: 16px;
  background: var(--white);
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.07);
  padding: 39px 25px 39px 25px;
}

.circleIcon {
  width: 82px;
  top: -58px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: 992px) {
  .container2 {
    border-radius: 16px;
    background: var(--white);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    padding: 40px 80px 40px 80px;
  }
}

@media (min-width: 992px) {
  .mt-219 {
    margin-top: 219px;
  }

  .mt-25 {
    margin-top: 15px;
  }

  .container1 {
    display: none;
  }

  .container4 {
    display: block;
    border-radius: 16px;
    background: #f2f2f2;
    padding: 22px 400px 22px 37px;
    margin-top: 42px;
    text-align: left;
  }

  .containerText4 {
    width: 99%;
  }

  .circleIcon {
    display: none;
  }

  .hiddenText {
    display: block;
  }

  .hiddenImg {
    display: block;
    right: 0;
    top: 120px;
    width: 55%;
  }

  .collaborationText {
    width: 91.666667%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .hiddenImg {
    display: block;
    right: 0;
    top: -60px;
    width: 55%;
  }
}

@media (min-width: 992px) {
  .collaborationText {
    width: 40%;
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.07);
    padding: 38px 25px;
  }

  .collaborationText {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .containerHeight {
    height: 240px;
  }
}

.vertical-vector {
  display: none;
}

.horizontal-vector {
  display: block;
  position: absolute;
  z-index: -1;
  top: 200px;
  width: 1320px;
}

@media (max-width: 1200px) {
  .vertical-vector {
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    bottom: 0px;
    height: 1280px;
  }

  .horizontal-vector {
    display: none;
  }
}

/* offer  */

.dot {
  width: 24px;
  height: 24px;
}

.buttonPadding {
  padding: 16px 57px;
}

.buttonContainer2 {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.mt-70 {
  margin-top: 0px;
}

.mt-24 {
  margin-top: 24px;
}

@media (min-width: 1200px) {
  .mt-70 {
    margin-top: 70px;
  }

  .mt-24 {
    margin-top: 40px;
  }
}

/* about us  */
.mt-170 {
  margin-top: 170px;
}

.img1 {
  width: 120%;
  margin-top: 138px;
}

.img2 {
  width: 100%;
  text-align: center;
  margin: auto;
}

.my-24 {
  padding: 24px 0px;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .img2 {
    width: 90%;
  }

  .img1 {
    width: 90%;
    margin-top: 138px;
  }

  .imgPosition {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .img2 {
    width: 70%;
  }

  .img1 {
    width: 70%;
    margin-top: 138px;
  }
}

@media (min-width: 992px) {
  .mt-170 {
    margin-top: 247px;
  }

  .img2 {
    width: 60%;
  }

  .img1 {
    display: none;
  }

  .aboutUs {
    margin: auto;
  }

  .aboutUsTitle {
    text-align: left;
  }
}

/* reviews  */

.mt-144 {
  margin-top: 144px;
}

.mb-47 {
  margin-bottom: 47px;
}

/* reviews carousel */
.sliderHeight {
  height: 300px;
}

.itemStyle {
  width: 90%;
  margin: auto;
}

.mt-365 {
  margin-top: 61px;
}

.textMargin {
  padding-top: 40px;
  padding-left: 16px;
}

.reviewsImg {
  height: 48px;
  width: 48px;
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  .reviewsImg {
    height: 128px;
    width: 128px;
  }

  .textMargin {
    padding-top: 40px;
    padding-left: 40px;
  }

  .itemStyle {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .mt-365 {
    margin-top: 365px;
  }
  .mt-144 {
    margin-top: 200px;
  }

  .mb-47 {
    margin-bottom: 360px;
  }
}

/* contact  */
.py-80 {
  padding: 80px 0px;
}

.contactInfo {
  display: flex;
  align-items: end;
}

.contact {
  text-align: left;
  margin-bottom: 70px;
}

.logoDesktop {
  display: none;
  height: 209px;
}

.logoMobile {
  display: block;
}

@media (min-width: 1200px) {
  .logoDesktop {
    display: block;
  }

  .logoMobile {
    display: none;
  }

  .contact {
    margin-bottom: 48px;
  }

  .py-80 {
    padding: 0px;
  }
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.letter2 {
  display: none;
}

@media (min-width: 1200px) {
  .letter2 {
    display: block;
    bottom: 0;
    left: 0;
    height: 650px;
    position: absolute;
    z-index: -1;
  }
}

/* footer  */

footer {
  background: var(--main-page-color);
  z-index: auto;
}

.footerText {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
  letter-spacing: -0.14px;
  color: var(--white);
}

.items {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.icon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.p-152 {
  padding: 44px 0px 152px 0px;
}

@media (min-width: 992px) {
  .p-152 {
    padding: 28px 24px 80px 24px;
  }

  .items {
    gap: 60px;
    align-items: center;
  }
}
